<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}


</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    {% if request.user.is_authenticated %}
    <a href="/user/logout" class="w3-button w3-right w3-hover-red w3-xlarge"><i class="fa fa-times"></i></a>

    {% else %}

    <a href="/user/register" class="w3-button w3-right w3-hover-green w3-xlarge"><i class="fa fa-user-plus"></i></a>
    <a href="/user/login" class="w3-button w3-right w3-hover-green w3-xlarge"><i class="fa fa-user"></i></a>
    {% endif %}
</div>

<!-- Sidebar/menu -->
{% if request.user.is_authenticated %}
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px; " id="mySidebar"><br>
    <div class="w3-container w3-row">
        <div class="w3-col s4">
            <!--
            <img src="{{request.user.profile.photo.url}}" class="w3-circle w3-margin-right" style="width:46px">
            -->
        </div>
        <div class="w3-col s8 w3-bar">
            <span>Hoşgeldin, <strong>{{request.user}}</strong></span><br>
            <a href="/messages" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
            <a href="/user/profile/{{request.user.id}}" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
            <a href="/user/logout" class="w3-bar-item w3-button w3-hover-red"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <hr>
    <div class="w3-container">
        <h5>Dashboard</h5>
    </div>
    <div class="w3-bar-block">

        <a href="/classes/homeworks" class="w3-bar-item w3-button w3-padding"><i class="fa fa-briefcase fa-fw"></i> 
            Ödevler</a>
        <a href="/classes" class="w3-bar-item w3-button w3-padding"><i class="fa fa-university fa-fw"></i>  Sınıflar</a>
        <a href="/owncloud/fileList/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cloud fa-fw"></i>  Sırt
            Çantası</a>
        <a href="/messages" class="w3-bar-item w3-button w3-padding"><i class="fa fa-suitcase fa-fw"></i>  Mesajlar</a>
        <a href="/bookshome" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Kaynaklar</a>
        <a href="/articles" class="w3-bar-item w3-button w3-padding"><i class="fa fa-font fa-fw"></i>  Blog</a>
        <!--<a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>  General</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  History</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Settings</a><br><br>-->
    </div>
</nav>
{% else %}

{% endif %}


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
     title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">


    <div class="w3-row-padding w3-margin-bottom">

    </div>


    <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}


</script>

</body>
</html>
