{% extends "layout.html" %}

{% block body %}

{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Sınıf Oluştur</h3>
        <hr>
        <form method="post">
            {% csrf_token %}
            <label>Ad</label>
            <input class="w3-input" type="text" name="class_name" id="class_name" {% if form.class_name.value != None %} value="{{form.class_name.value}}" {% endif %}></p>

            <label>Kod</label>
            <input class="w3-input" type="text" name="class_code" id="class_code" {% if form.class_code.value != None %} value="{{form.class_code.value}}" {% endif %} readonly></p>
            <br>
            <button type="submit" class="w3-btn w3-hover-light-green" style="background-color:rgb(119, 136, 153);">Sınıf Oluştur</button>
        </form>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>

{% endblock body %}