{% extends "layout.html" %}

{% load static %}

{% block body %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<header class="w3-container w3-center w3-padding-16">
    <h1><b>Kontrol Paneli</b></h1>

    <p>Merhaba <span class="w3-tag">{{request.user}}</span> hoca</p>
    <p>Sınıf Kodu: <span class="w3-tag"> {{code}}</span></p>
    </p>
    <br><br>

</header>


<div class="w3-row-padding">
    <div class="w3-third">

        <h3><b>Öğrenciler</b></h3>
        <br>
        <table class="w3-table-all w3-card-4 w3-centered">

            <thead>
            <tr>
                <th>Ad</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {% for student in class_content %}

            <td>
                {{ student.student_naame}}
            </td>


            <td>
                <button class="w3-btn w3-black w3-hover-cyan" type="submit"><b>Mesaj Gönder</b></button>
            </td>
            <td>
                <button class="w3-btn w3-black w3-hover-lime" type="submit"><b>Yetkilendir</b></button>
            </td>

            </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

    <div class="w3-twothird">


        <h3><b>Ödevler</b></h3>
        <br>
        <table class="w3-table-all w3-card-4 w3-centered">
            <thead>

            <tr>
                <th>İçerik</th>
                <th>Bitiş Tarihi</th>
                <th>Ödev Kodu</th>
                <th>Teslim Sayısı</th>
                <th>Düzenle</th>
                <th>Sil</th>
            </tr>
            </thead>
            <tbody>

            {% for homework in homeworks %}

            <td>
                {{ homework.content}}
            </td>
            <td>
                {{ homework.end_date}} {{homework.end_clock}}
            </td>
            <td>
                {{ homework.homework_code}}
            </td>
            <td>
                {{ homework.submit_count}}
            </td>


            <td>
                <a href="/classes/dashboard/{{homework.homework_code}}/update">
                    <button class="w3-btn w3-black w3-hover-light-green">
                        Düzenle
                    </button>
                </a>
            </td>
            <td>
                <a href="/classes/dashboard/{{homework.homework_code}}/delete">
                    <button class="w3-btn w3-black w3-hover-red">
                        Sil
                    </button>
                </a>
            </td>

            </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>


</div>


<br><br><br><br>
<h3><b>Gönderiler</b></h3>
<br>
<table class="w3-table-all w3-card-4">
    <thead>

    <tr>
        <th>Başlık</th>
        <th>İçerik</th>
        <th>Oluşturulma Tarihi</th>
        <th>DÜzenle</th>
        <th>Sil</th>
    </tr>
    </thead>
    <tbody>

    {% for post in posts %}

    <td>
        {{ post.title}}
    </td>

    <td> {{ post.content|safe }}</td>

    <td>
        {{ post.created_date }}
    </td>

    <td>
        <a href="/classes/dashboard/{{post.id}}/update">
            <button class="w3-btn w3-black w3-hover-light-green">
                Düzenle
            </button>
        </a>
    </td>
    <td>
        <a href="/classes/dashboard/{{post.id}}/delete">
            <button class="w3-btn w3-black w3-hover-red">
                Sil
            </button>
        </a>
    </td>

    </tr>

    {% endfor %}

    </tbody>

</table>
<br>
<br>

<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>


{% endblock body %}