{% extends "layout.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block body %}

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}




</style>
<body class="w3-light-grey">

<!-- Page Container -->

<!-- The Grid -->
<div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">
        <div class="w3-white w3-text-grey w3-card-4">
            <div class="w3-display-container">

                <div class="w3-display-bottomleft w3-container w3-text-black">

                </div>
            </div>


            <div class="w3-container" style="background-color:rgb(44, 47, 51); color:rgb(211,211,211);">

                <br>
                <h2><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-white"></i> Ödevler
                </h2>

                <hr>

                <table class="w3-table" style="background-color:rgb(44, 47, 51);">
                    <tr class="w3-striped">
                        <th>Ödev Adı</th>
                        <th>Son Tarih</th>
                        <th>Detaylar</th>
                    </tr>


                    {% for homeworks in homework %}
                    {% if homeworks.classroom_id == id %}
                    <tr class="w3-hover-text-green">
                        <td><a href="/classes/{{homeworks.homework_code}}/homeworkDetail" class="w3-hover-text-green">{{homeworks.title|safe|truncatewords:1}}</a>
                        </td>
                        <td>{{homeworks.end_date}},{{homeworks.end_clock}}</td>
                        <td><a href="/classes/{{homeworks.homework_code}}/homeworkDetail">
                            <button type="button" class="w3-btn w3-white w3-border w3-round-large w3-hover-green">Detay</button>
                        </a></td>
                    </tr>
                    {% endif %}
                    {% endfor %}


                </table>
                <br>
            </div>



        </div>
        <br>

        <div class="w3-white w3-text-grey w3-card-4">
            <div class="w3-display-container">

                <div class="w3-display-bottomleft w3-container w3-text-black">

                </div>
            </div>
            <div class="w3-container " style="background-color:rgb(44, 47, 51); color:rgb(211,211,211);">

                <br>
                <button class="w3-button w3-block w3-text-white w3-left-align">
                    <i class="fa fa-plus fa-fw w3-margin-right"></i>
                    <a class="btn w3-text-white" href="/classes/{{classroom.id}}/addhomework">
                        Ödev Ekle
                    </a>
                </button>

                <br>

            </div>
        </div>

        <br>

        <div class="w3-white w3-text-grey w3-card-4">
            <div class="w3-display-container">

                <div class="w3-display-bottomleft w3-container w3-text-black">

                </div>
            </div>
            <div class="w3-container " style="background-color:rgb(44, 47, 51); color:rgb(211,211,211);">

                <br>

                <br>
                <p class="w3-block w3-text-white w3-left-align">Sınıf Kodu: {{classroom.class_code}}</p>

                <br>

            </div>
        </div>

        <br>

        <div class="w3-white w3-text-grey w3-card-4">
            <div class="w3-display-container">

                <div class="w3-display-bottomleft w3-container w3-text-black">

                </div>
            </div>
            <div class="w3-container " style="background-color:rgb(44, 47, 51); color:rgb(211,211,211);">

                <br>
                <button class="w3-button w3-block w3-text-white w3-left-align">
                    <i class="fa fa-plus fa-fw w3-margin-right"></i>
                    <a class="btn w3-text-white" href="/classes/{{classroom.id}}/dashboard">
                        Kontrol Paneli
                    </a>
                </button>

                <br>

            </div>
        </div>


        <!-- End Left Column -->
    </div>


    <!-- Right Column -->
    <div class="w3-twothird">
        <div class="w3-container w3-card w3-margin-bottom" style="background-color:rgb(44, 47, 51); color:rgb(211,211,211);">
            <div class="w3-container" >
                <form method="post">
                    <br>
                    {% csrf_token %}
                    {{form.media}}
                    {{form|crispy}}
                    <br>
                    <button type="submit" class="w3-btn w3-hover-teal" style="background-color:rgb(119, 136, 153);"><i class="fa fa-pencil"></i>
                         Gönder
                    </button>
                </form>
            </div>
            <br>
        </div>


        {% for posts in post %}


        {% if posts.classroom_id == id %}

        <div class="w3-container w3-card w3-margin-bottom w3-round-large"
             class="w3-container w3-card w3-margin-bottom w3-round-large"
             style="background-color:rgb(44, 47, 51); color:rgb(211,211,211);">

            <a href="/classes/{{homeworks.homework_code}}/homeworkDetail"><h2 class="w3-text-white w3-padding-16"><i
                    class="fa fa-briefcase fa-fw w3-margin-right w3-xxlarge w3-text-white"></i>{{ posts.title }}
            </h2></a>


            <div class="w3-container">
                <!-- <h5 class="w3-opacity"><b>Bitiş Tarihi : {{ homeworks.end_date }} , {{homeworks.end_clock}}</b></h5> -->
                <h6 class="w3-text-white"><i class="fa fa-calendar fa-fw w3-margin-right"></i> Oluşturulma Tarihi :
                    {{ posts.created_date }} <span></span>
                </h6>
                <hr>
                <!--class="w3-tag w3-round">{{classroom.id}}</span></h6>
                -->
                <p>{{posts.content|safe}}</p>
            </div>

        </div>
        {% else %}

        {% endif %}
        {% endfor %}


        <!-- End Right Column -->
    </div>

    <!-- End Grid -->
</div>

<!-- End Page Container -->

</body>
</html>


{% endblock body %}