{% extends "layout.html" %}

{% load static %}

{% block body %}

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}



</style>
<body class="w3-light-grey">

<!-- Page Container -->

<!-- The Grid -->
<div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

        <div class="w3-white w3-text-grey w3-card-4">
            <div class="w3-display-container">

                <div class="w3-display-bottomleft w3-container w3-text-black">

                </div>
            </div>

            <div class="w3-container" style="background-color:rgb(44, 47, 51); color:rgb(211,211,211);">
                <br>
                <h2><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-white"></i> Sınıflarım
                </h2>

                <hr>
                {% if classes %}
                {% for deneme in classes %}

                    <div class="w3-panel w3-leftbar w3-rightbar  w3-border-blue w3-round-large">
                    <a href="{{deneme.id}}/"><span class="w3-large">{{deneme.class_name}}</span>  <br></a>
                    </div>
                <hr>
                {% endfor %}

                {% else %}
                <h6><i class="fa fa-briefcase fa-university w3-margin-right w3-large w3-text-white"></i>Sınıfınız
                    bulunmamaktadır.</h6>
                {% endif %}
                <br>

            </div>



        </div>
        <br>
        <div class="w3-white w3-text-white w3-card-4">
            <div class="w3-display-container">

                <div class="w3-display-bottomleft w3-container w3-text-white">

                </div>
            </div>
            <div class="w3-container" style="background-color:rgb(44, 47, 51); color:rgb(211,211,211);">

                <br>
                <button class="w3-button w3-block w3-text-white w3-left-align">
                    <i class="fa fa-plus fa-fw w3-margin-right"></i>
                    <a class="btn w3-text-white" href="/classes/addclasses">
                        Sınıf Oluştur
                    </a>
                </button>


                <br>

            </div>
        </div>
        <br>


        <!-- End Left Column -->
    </div>


    <!-- Right Column
    <div class="w3-twothird">

        <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i
                    class="fa fa-briefcase fa-fw w3-margin-right w3-xxlarge w3-text-black"></i>Zamanı Dolmamış
                Ödevler</h2>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Front End Developer / w3schools.com</b></h5>
                <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2015 - <span
                        class="w3-tag w3-round">Current</span></h6>
                <p>Verilen ödevler gözükecek</p>
                <hr>
            </div>

        </div>



    </div>-->

    <!-- End Grid -->
</div>

<!-- End Page Container -->

</body>
</html>


{% endblock body %}