{% extends "layout.html" %}

{% load static %}

{% block body %}
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-grey.css">

<div class="w3-row-padding">
    <!-- Post Content Column -->
    <div class="w3-card-4" style="background-color:rgb(44, 47, 51); color:rgb(211,211,211);">
        <div class="w3-container">
            <br>
            {% if profile.photo %}
            <img src="{{ profile.photo.url }}" alt="Avatar" class="w3-left w3-circle w3-margin-right"
                    style="width:100px">
            {% endif %}
            <a href="/user/profile/{{profile.user_id}}" class="w3-text-white" style="color:black"><p class="lead">by {{article.author.username}}</p></a>
            <h3 class="mt-4">{{article.title}} , <span class="w3-tag w3-round w3-theme-l3"> {{article.created_date}}</span></h3>
        </div>
        <div class="w3-container">
            <br>
            <!-- Post Content -->
            <h3 class="lead">{{article.content|safe}}</h3>
            <hr>
            <h4>Yorumlar</h4>
            <hr>
            {% if comments %}
            {% for comment in comments %}
                <div class="media mb-4" >
                    <img class="d-flex mr-3 rounded-circle" src="{% static 'dota-icon-53.png' %}" alt="" style="width:50px;height:60px;">
                    <div class="media-body">
                        <h5 class="mt-0">{{comment.comment_author}}</h5>
                        {{comment.comment_date}} <br>
                        {{comment.comment_content}}
                    </div>
                </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-danger">
                Bu makaleye herhangi bir yorum yapılmadı, ilk yorumu yapan siz olun!
            </div>
            {% endif %}
            <div class="card my-4 w3-text-white" style="width: 100%; background-color:rgb(119, 136, 153);">
                <h5 class="card-header" >Yorum Ekle:</h5>
                <div class="card-body">
                    <form method = "post" action = "{% url 'article:comment' article.id %}">
                        {% csrf_token %}
                        <div class="from-group">
                                <label for="formGroupExampleInput">İsmin</label>
                                <input name="comment_author" type="text" class="form-control" id="formGroupExampleInput" placeholder="İsminizi girin">
                            </div>
                        <div class="from-group">
                            <label for="formGroupExampleInput">Yorum</label>
                            <textarea name="comment_content" class="from-control" rows="3" style="width: 100%;"></textarea>
                        </div>
                        <button type="submit" class="w3-btn w3-black w3-hover-green">Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}