{% extends "layout.html" %}

{% block body %}
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-grey.css">

<div class="w3-main" style="margin-left:300px;">
    <div class="w3-row-padding">
        <!-- Post Content Column -->
        <div class="w3-card-4">

            <div class="w3-container w3-theme-l4">
                <br>
                {% if profile.photo %}
                <img src="{{ profile.photo.url }}" alt="Avatar" class="w3-left w3-circle w3-margin-right"
                     style="width:100px">
                {% endif %}
                <a href="/user/profile/{{profile.user_id}}" style="color:black"><p class="lead">by {{article.author.username}}</p></a>
                <h3 class="mt-4">{{article.title}} , <span class="w3-tag w3-round w3-theme-l3"> {{article.created_date}}</span></h3>
            </div>
            <div class="w3-container">

                <br>


                <!-- Post Content -->
                <h3 class="lead">{{article.content|safe}}</h3>
                <hr>
            </div>


        </div>

    </div>
</div>


{% endblock body %}