{% extends "layout.html" %}

{% load static %}

{% block body %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


<!--<h2>PDF Listesi</h2>
<hr>-->
<div class="w3-row-padding">


    <div >

        {% if request.user.is_authenticated %}

        <p>
            <a href="{% url 'upload_file' %}" class="w3-btn w3-black w3-hover-green">Dosya Yükle</a>
        </p>
        <hr>

        {% else %}

        {% endif %}

        <table class="w3-table-all w3-centered w3-card-4 w3-hoverable">
            <thead>

            <tr>
                <th>Ad</th>
                <th>İçerik</th>
                <th>Yükleme</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>

            {% for book in cloud %}

            <td>
                {{ book.authorr }}
            </td>

            <td> {{ book.title }}</td>

            <td>
                <a href="{{ book.pdf.url }}" class="btn btn-primary btn-sml" target="_blank">
                    PDF İndir
                </a>
            </td>

            <td>
                <form method="post" action="{% url 'delete_book' book.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Sil</button>
                </form>

            </td>

            </tr>

            {% endfor %}

            </tbody>

        </table>
    </div>

</div>

<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>

{% endblock body %}