{% extends "layout.html" %}

{% block body %}

{% load crispy_forms_tags %}


<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}


</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-display-container">
                {% if profile.photo %}
                <img src="{{ profile.photo.url }}" alt="{{ profile.name }}" style="width:100%">
                {% endif %}

                <div class="w3-display-bottomleft w3-container w3-text-white">
                    <h2>{{user.username}} </h2>

                </div>

            </div>

            <div class="w3-white w3-text-grey w3-card-4">

                <br>

                <div class="w3-container">

                    <p><i class="fa fa-user fa-fw w3-margin-right w3-large w3-text-black"></i>{{profile.name}}
                        {{profile.surname}}</p>

                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-black"></i>Çalıştığı yer yazıcak
                    </p>
                    {% if profile.about %}
                    <p><i class="fa fa-bicycle fa-fw w3-margin-right w3-large w3-text-black"></i>{{profile.about}}</p>
                    {% else %}
                    <p><i class="fa fa-bicycle fa-fw w3-margin-right w3-large w3-text-black"></i>Belirtilmemiş</p>
                    {% endif %}

                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-black"></i>{{profile.email}}
                    </p>

                    <hr>

                    <p class="w3-large"><b><i class="fa fa-suitcase fa-fw  w3-margin-right w3-text-black"></i>İş
                        Tecrübesi</b>
                    </p>

                    <!-- İŞ TECRÜBESİ KISMI BURAYA -->
                    <div class=" w3-small">
                        <h5 class="w3-opacity"><b>Front End Developer / w3schools.com</b></h5>
                        <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2015 - <span
                                class="w3-tag w3-black w3-round">Current</span></h6>
                        <hr>
                    </div>


                    <p class="w3-large w3-text-theme"><b><i
                            class="fa fa-certificate fa-fw w3-margin-right w3-text-black"></i>Eğitim</b>
                    </p>
                    {% if profile.phd %}
                    <div class="w3-small">
                        <h5 class="w3-opacity"><b>Doktora: {{profile.phd}}</b></h5>
                        <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{profile.started_date_phd}}
                            - {{profile.end_date_phd}}</h6>
                        <hr>
                    </div>
                    {% endif %}
                    {% if profile.master_degree %}
                    <div class="w3-small">
                        <h5 class="w3-opacity"><b>Yüksek Lisans: {{profile.master_degree}}</b></h5>
                        <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{profile.started_date_master_degree}}
                            - {{profile.end_date_master_degree}}</h6>
                        <hr>
                    </div>
                    {% endif %}
                    {% if profile.university %}
                    <div class="w3-small">
                        <h5 class="w3-opacity"><b>Üniversite: {{profile.university}}</b></h5>
                        <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{profile.started_date_university}}
                            - {{profile.end_date_university}}</h6>
                        <hr>
                    </div>
                    {% endif %}
                    {% if profile.high_school %}
                    <div class="w3-small">
                        <h5 class="w3-opacity"><b>Lise: {{profile.high_school}}</b></h5>
                        <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{profile.started_date_high_school}}
                            - {{profile.end_date_high_school}}</h6>
                        <hr>
                    </div>

                    {% endif %}

                    <div class="w3-button w3-block w3-text-black w3-left-align">
                        <i class="fa fa-plus fa-fw w3-margin-right"></i>
                        <a class="btn" href="/user/profile/{{profile.user_id}}/dashboard">
                            Profili Düzenle
                        </a>
                    </div>
                    <br>
                </div>
            </div>
            <br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            {% if articles %}

            {% for article in articles %}

            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <div class="w3-container">
                    <form method="post">
                        <br>
                        {% csrf_token %}
                        {{form.media}}
                        {{form|crispy}}
                        <br>
                        <button type="submit" class="w3-btn w3-black w3-hover-green"><i class="fa fa-pencil"></i>
                             Paylaş
                        </button>
                    </form>
                </div>
                <br>
            </div>

            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i
                        class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-black"></i>{{article.title}}</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>{{request.user.username}}</b></h5>
                    <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{article.created_date}}
                        <span
                                class="w3-tag w3-black w3-round">Current</span></h6>
                    <p>{{article.content|safe|truncatewords:10}}</p>
                    <br>
                </div>

            </div>

            {% endfor %}

            {% else %}

            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h3 class="w3-text-grey w3-padding-16"><i
                        class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-black"></i>Gönderiniz Bulunmuyor.
                </h3>


            </div>

            {% endif %}


            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
    <footer class="w3-container  w3-center w3-margin-top"
            style="background-color:rgb(44, 47, 51); color:rgb(211,211,211);">

        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <p>Powered by <a href="https://github.com/talhaucarr" target="_blank">xKral_Tr</a></p>
    </footer>
</div>


</body>
</html>


{% endblock body %}