{% extends "layout.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block body %}

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}


</style>
<body class="w3-light-grey">

<!-- Page Container -->

<!-- The Grid -->
<div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">
        <div class="w3-white w3-text-grey w3-card-4">
            <div class="w3-display-container">

                <div class="w3-display-bottomleft w3-container w3-text-black">

                </div>
            </div>

            <div class="w3-container" style="background-color:rgb(44, 47, 51); color:rgb(211,211,211);">
                <br>
                <h2><i class="fa fa-briefcase fa-fw w3-margin-right w3-large"></i> Sınıflarım
                </h2>

                <hr>
                {% if classes %}
                {% for deneme in classes %}

                <div class="w3-panel w3-leftbar w3-rightbar  w3-border-blue w3-round-large">
                <a href="/classes/homeworks/{{deneme.id}}" class="w3-hover-text-blue"><span class="w3-large">{{deneme.class_name}}</span><br></a>
                </div>

                <hr>

                {% endfor %}

                {% else %}
                <h6><i class="fa fa-briefcase fa-university w3-margin-right w3-large w3-text-black"></i>Sınıfınız
                    bulunmamaktadır.</h6>

                <br>
                {% endif %}

            </div>

        </div>
        <br>
        <div class="w3-white w3-text-grey w3-card-4" >
            <div class="w3-display-container">

                <div class="w3-display-bottomleft w3-container w3-text-black">

                </div>
            </div>
            <div class="w3-container " style="background-color:rgb(44, 47, 51); color:rgb(211,211,211);">

                <br>
                <button class="w3-button w3-block  w3-left-align"
                        onclick="document.getElementById('id01').style.display='block'">
                    <i class="fa fa-plus fa-fw w3-margin-right"></i>

                    Sınıfa Katıl

                </button>
                <div id="id01" class="w3-modal">
                    <div class="w3-modal-content w3-card-4 w3-light-grey w3-animate-zoom" style="max-width:600px">
                        <div class="w3-center"><br>
                            <span onclick="document.getElementById('id01').style.display='none'"
                                  class="w3-button w3-xlarge w3-transparent w3-display-topright"
                                  title="Close Modal">×</span>

                        </div>
                        <form class="w3-container" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="w3-section">
                                <label><b>Sınıf Kodu</b></label>
                                <input class="w3-input w3-border w3-margin-bottom" type="text"
                                       placeholder="Sınıf Kodunu Giriniz" name="deneme" required>
                                <br>

                                <button class="w3-button w3-block w3-black w3-hover-green w3-section w3-padding"
                                        type="submit" name="deneme1">
                                    Katıl
                                </button>

                            </div>
                        </form>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <br>

        <!-- End Left Column -->
    </div>


    <!-- Right Column -->

    <div class="w3-twothird">

        {% for i in homework %}

        {% if i.end_date > current_date or i.end_date == current_date and i.end_clock > current_time %}

        <div class="w3-container w3-card w3-margin-bottom w3-round-large"
             style="background-color:rgb(44, 47, 51); color:rgb(211,211,211);">
            <a href="/classes/homeworks/{{i.id}}/submit"><h2 class="w3-text-white w3-padding-16"><i
                    class="fa fa-briefcase fa-fw w3-margin-right w3-xxlarge w3-text-white"></i>{{ i.title }} </h2>
            </a>
            <div class="w3-container">
                <h6 class="w3-text-white"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sınıf Adı:
                    {{i.classroom_id}} , Bitiş Tarihi : {{ i.end_date }} , {{i.end_clock}} <span></span>
                </h6>
                <hr>

                <p>{{i.content}}</p>
                <br>

                <a href="/classes/homeworks/{{i.id}}/submit">
                    <button class="w3-btn w3-hover-teal" style="background-color:rgb(119, 136, 153);">
                        Teslim Et
                    </button>
                </a>
                {% else %}
                <div class="w3-container w3-card w3-margin-bottom w3-round-large" style="background-color:rgb(44, 47, 51); color:rgb(211,211,211);">
                    <h2 class="w3-text-grey w3-padding-16"><i
                            class="fa fa-briefcase fa-fw w3-margin-right w3-xxlarge w3-text-black"></i>{{ i.title }}
                    </h2>

                    <div class="w3-container">
                        <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sınıf Adı:
                            {{i.class_name}} , Bitiş
                            Tarihi : {{ i.end_date }} , {{i.end_clock}} <span
                                    class="w3-tag w3-round w3-red">Süresi Geçti</span>
                        </h6>
                        <hr>

                        <p class="w3-text-black">{{i.content}}</p>
                        <br>
                        <a class="w3-button w3-disabled" style="background-color:rgb(119, 136, 153);">Teslim Et</a>
                        {% endif %}
                    </div>
                    <br>

                </div>

                {% endfor %}

            </div>

            <!-- End Grid -->
        </div>
        <!-- End Page Container -->
</body>
</html>

{% endblock body %}