{% extends "layout.html" %}

{% block body %}

{% load crispy_forms_tags %}
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<style>
    label[for="files"]{

cursor:pointer;
}
input[type="file"]{
display:none;
}
</style>
<!--
<header class="w3-container w3-center w3-padding-16">
    <h1><b>Kontrol Paneli</b></h1>
    <br><br>
</header>
-->
<div class="w3-row-padding">
    <div class="w3-third">
        <div class="w3-card-4">
            <div class="w3-container" style="background-color:rgb(44, 47, 51);">
                <h2>Profil Güncelle</h2>
            </div>
                <br>
            <form method="post" enctype="multipart/form-data" class="w3-container">
            {% csrf_token %}
                <div class="w3-display-container">
                    <h2>{{form.photo.url}}</h2>
                {% if form.photo %}
                <img src="{{ form.photo.value.url }}" alt="{{ form.name.value }}" style="width:100%">
                {% else %}
                <h2>asda</h2>
                {% endif %}
                </div>
                <br>
                <label class="w3-btn w3-black w3-hover-blue" for="photo" style="cursor:pointer;">Dosya Aç</label>
                <input type="file" name="photo" id="photo" style="">
            <p>

                <label>Ad</label>
                <input class="w3-input" type="text" name="name" id="name" {% if form.name.value != None %} value="{{form.name.value}}" {% endif %}></p>
            <label>Soyad</label>
            <input class="w3-input" type="text" name="surname" id="surname" {% if form.surname.value != None %} value="{{form.surname.value}}" {% endif %}></p>
            <label>Hakkında</label>
            <input class="w3-input" type="text" name="about" id="about" {% if form.about.value != None %} value="{{form.about.value}}" {% endif %}></p>
                <label>Twitter</label>
            <input class="w3-input" type="text" name="twitter" id="twitter" {% if form.twitter.value != None %} value="{{form.twitter.value}}" {% endif %}></p>
                <label>İnstagram</label>
            <input class="w3-input" type="text" name="instagram" id="instagram" {% if form.instagram.value != None %} value="{{form.instagram.value}}" {% endif %}></p>
                <label>Facebook</label>
            <input class="w3-input" type="text" name="facebook" id="facebook" {% if form.facebook.value != None %} value="{{form.facebook.value}}" {% endif %}></p>
                <label>Github</label>
            <input class="w3-input" type="text" name="github" id="github" {% if form.github.value != None %} value="{{form.github.value}}" {% endif %}></p>
                <label>Linkedin</label>
            <input class="w3-input" type="text" name="linkedin" id="linkedlin" {% if form.linkedin.value != None %} value="{{form.linkedin.value}}" {% endif %}></p>
                <label>Pinterest</label>
            <input class="w3-input" type="text" name="pinterest" id="pinterest" {% if form.pinterest.value != None %} value="{{form.pinterest.value}}" {% endif %}></p>
            <label>Lise</label>
            <input class="w3-input" type="text" name="high_school" id="high_school"
                    {% if form.high_school.value != None %} value="{{form.high_school.value}}" {% endif %}></p>
            <div class="w3-row-padding">
                <div class="w3-half">
                    <label>Başlangıç Yılı</label>
                    <input class="w3-input" type="date" name="started_date_high_school"
                            id="started_date_high_school"
                            {% if form.started_date_high_school.value != None %} value="{{form.started_date_high_school.value|date:'Y-m-d'}}" {% endif %}>

                </div>
                <div class="w3-half">
                    <label>Bitiş Yılı</label>
                    <input class="w3-input" type="date" name="end_date_high_school" id="end_date_high_school"
                            {% if form.end_date_high_school.value != None %} value="{{form.end_date_high_school.value|date:'Y-m-d'}}" {% endif %}></p>
                </div>
            </div>
            <label>Üniversite</label>
            <input class="w3-input" type="text" name="university" id="university"
                    {% if form.university.value != None %} value="{{form.university.value}}" {% endif %}></p>

            <div class="w3-row-padding">
                <div class="w3-half">
                    <label>Başlangıç Yılı</label>
                    <input class="w3-input" type="date" name="started_date_university" id="started_date_university"
                            {% if form.started_date_university.value != None %} value="{{form.started_date_university.value|date:'Y-m-d'}}" {% endif %}></p>

                </div>
                <div class="w3-half">
                    <label>Bitiş Yılı</label>
                    <input class="w3-input" type="date" name="end_date_university" id="end_date_university"
                            {% if form.end_date_university.value != None %} value="{{form.end_date_university.value|date:'Y-m-d'}}" {% endif %}></p>
                </div>
            </div>
            <label>Yüksek Lisans</label>
            <input class="w3-input" type="text" name="master_degree" id="master_degree"
                    {% if form.master_degree.value != None %} value="{{form.master_degree.value}}" {% endif %}></p>

            <div class="w3-row-padding">
                <div class="w3-half">
                    <label>Başlangıç Yılı</label>
                    <input class="w3-input" type="date" name="started_date_master_degree"
                            id="started_date_master_degree" {% if form.started_date_master_degree.value != None %} value="{{form.started_date_master_degree.value|date:'Y-m-d'}}" {% endif %}></p>

                </div>
                <div class="w3-half">
                    <label>Bitiş Yılı</label>
                    <input class="w3-input" type="date" name="end_date_master_degree" id="end_date_master_degree"
                            {% if form.end_date_master_degree.value != None %} value="{{form.end_date_master_degree.value|date:'Y-m-d'}}" {% endif %}></p>
                </div>
            </div>

            <label>Doktora</label>
            <input class="w3-input" type="text" name="phd" id="phd"
                    {% if form.phd.value != None %} value="{{form.phd.value}}" {% endif %}></p>

            <div class="w3-row-padding">
                <div class="w3-half">
                    <label>Başlangıç Yılı</label>
                    <input class="w3-input" type="date" name="started_date_phd" id="started_date_phd"
                            {% if form.started_date_phd.value != None %} value="{{form.started_date_phd.value|date:'Y-m-d'}}" {% endif %}></p>

                </div>
                <div class="w3-half">
                    <label>Bitiş Yılı</label>
                    <input class="w3-input" type="date" name="end_date_phd" id="end_date_phd"
                            {% if form.end_date_phd.value != None %} value="{{form.end_date_phd.|date:'Y-m-d'}}" {% endif %}></p>
                </div>
            </div>


            <br>
            <button type="submit" name="btn1" class="w3-btn w3-black w3-hover-teal">Güncelle</button>

        </form>
        <br>
        </div>

    </div>
    <div class="w3-twothird">
        <div class="w3-card-4">



            <div class="w3-container" style="background-color:rgb(44, 47, 51);">
                <h2>İş Tecrübesi</h2>
            </div>
            <br>
            <div class="w3-container">
            {% if workExperience %}


            {% for workExperiences in workExperience %}
                <div class="w3-small">
                    <h4 class="w3-opacity w3-text-white"><b>{{ workExperiences.company }} </b></h4>
                    <h5 class="w3-opacity w3-text-white"><b>{{ workExperiences.position }} </b></h5>
                    <h6 class="w3-text-white"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{workExperiences.started_date}}
                        - {{workExperiences.end_date}}</h6>
                    <br>
                </div>
            {% endfor %}
            {% endif %}
                </div>
            <form method="post" class="w3-container">
        {% csrf_token %}

            <label>Şirket Adı</label>
            <input class="w3-input" type="text" name="company" id="company"></p>
            <label>Pozisyon</label>
            <input class="w3-input" type="text" name="position" id="position">
                    </p>
            <div class="w3-row-padding">
                <div class="w3-half">
                    <label>Başlangıç Yılı</label>
                    <input class="w3-input" type="date" name="started_date" id="started_date">

                </div>
                <div class="w3-half">
                    <label>Bitiş Yılı</label>
                    <input class="w3-input" type="date" name="end_date" id="end_date"></p>
                </div>
            </div>
        <br>
        <button type="submit" name="btn2" class="w3-btn w3-black w3-hover-teal">Ekle</button>

            </form>
            <br>
        </div>

    </div>

</div>

{% endblock body %}